### Heart Disease Prediction : 
the data set has been taken from kaggle : `https://www.kaggle.com/ronitf/heart-disease-uci` <br/>
From the dataset we want to predict a person has a Heart disease or not

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sea
import warnings
warnings.filterwarnings('ignore')

##### Step 1 : Data Collection
we have downloaded the data from kaggle and imported the `csv` file

In [4]:
data = pd.read_csv('heart.csv')

In [6]:
data.sample(10)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
235,51,1,0,140,299,0,1,173,1,1.6,2,0,3,0
132,42,1,1,120,295,0,1,162,0,0.0,2,0,2,1
12,49,1,1,130,266,0,1,171,0,0.6,2,0,2,1
25,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
252,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0
88,54,0,2,110,214,0,1,158,0,1.6,1,0,2,1
93,54,0,1,132,288,1,0,159,1,0.0,2,1,2,1
277,57,1,1,124,261,0,1,141,0,0.3,2,0,3,0
294,44,1,0,120,169,0,1,144,1,2.8,0,0,1,0
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2,1

In [7]:
# Data info
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB